In [59]:
import pandas as pd
import duckdb as db
from duckdb import ConstraintException
from datetime import datetime
import os

# We're using the google style guide for python (https://google.github.io/styleguide/pyguide.html)

In [60]:
# establish a connection to the database
con = db.connect(database='patent_database', read_only=False)

In [61]:
# Read the data from the CSV file
firm_names_data = pd.read_stata('../../files_maris/katharina_patents_name_matching/all_names_incl_isin.dta').reset_index()

In [62]:
con.sql("show tables")

┌────────────────────┐
│        name        │
│      varchar       │
├────────────────────┤
│ firm_data_complete │
│ firm_isin          │
│ firm_names         │
│ patstat_data       │
│ patstat_firm_match │
└────────────────────┘

In [63]:
def write_log(msg: str, logfile: str):
    """Writes a message to the log file.

    Args:
        msg: The message to write to the log file
        logfile: The name of the log file

    Returns:
        None
    """
    file_path = f"../logs/{logfile}"
    with open(file_path, "a") as log_file:
        timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        log_file.write(f"{timestamp}\n{msg}\n\n")

def wipe_database():
    """Deletes all tables in the database.

    Args:
        None

    Returns:
        None
    """
    con.sql("DROP TABLE IF EXISTS patstat_firm_match;")
    con.sql("DROP TABLE IF EXISTS firm_isin;")
    con.sql("DROP TABLE IF EXISTS firm_names;")
    con.sql("DROP TABLE IF EXISTS firm_data_complete;")
    con.sql("DROP VIEW IF EXISTS patstat_data_tmp;")
    con.sql("DROP TABLE IF EXISTS patstat_data;")
    con.sql("DROP TABLE IF EXISTS patstat_firm_match;")
    con.sql("DROP TABLE IF EXISTS patstat_test_data;")
    con.sql("DROP TABLE IF EXISTS patstat_patents_P;")

In [64]:
def clean_firm_isin_table():
    """Gets rid of some duplicate entries in the firm_isin table. This is necessary since some firms have multiple ISINs. We only keep one ISIN per firm.

    Args:
        None

    Returns:
        None
    """
    sql = """
    DELETE FROM firm_isin
    WHERE ISIN = ?;
    """
    con.execute(sql, ('US1746132083',)) # CITIZEN FINANCIAL CORP
    con.execute(sql, ('JP3360850006',)) # SHOEI CO LTD
    con.execute(sql, ('JP3386660009',)) # JTECH CORP
    con.execute(sql, ('US70978T1079',)) # PEOPLES BANCORP INC
    con.execute(sql, ('JP3384710004',)) # SHINWA CO LTD


def create_base_tables(firm_names_data: pd.DataFrame, reset: bool = False):
    """Creates the base tables for the name matching process. This includes the firm_names_data table and the patstat_data table. Also create firm_data_complete table.

    Args:
        reset: If True, the tables will be dropped if they already exist.
        firm_names_data: The data containing the names and ISINs of the firms.

    Returns:
        None
    """
    if reset:
        # -- 1. Drop old tables if they exist
        con.sql("DROP TABLE IF EXISTS firm_isin;")
        con.sql("DROP TABLE IF EXISTS firm_names;")
        con.sql("DROP TABLE IF EXISTS firm_data_complete;")

    # -- 2. Create firm_names table with a generated surrogate key for each distinct name
    # We do this to get rid of duplicates for name matching
    sql = """
        CREATE TABLE IF NOT EXISTS firm_names (
            firm_id INTEGER PRIMARY KEY,
            name VARCHAR(255) NOT NULL
        );
    """
    con.sql(sql)

    sql = """
        INSERT INTO firm_names (firm_id, name)
        SELECT ROW_NUMBER() OVER (ORDER BY name) AS firm_id,
               name
        FROM (
            SELECT DISTINCT UPPER(name) AS name
            FROM firm_names_data
        ) AS sub;
    """
    con.sql(sql)

    # -- 3. Create firm_isin table, referencing the firm_id via a JOIN on the name
    # We do this, since some firms have multiple ISINs (e.g. SHINWA CO LTD). This could be due to different classes of shares / or subsidiaries?
    sql = """
        CREATE TABLE IF NOT EXISTS firm_isin (
           ISIN VARCHAR(255) PRIMARY KEY NOT NULL,
           firm_id INTEGER REFERENCES firm_names(firm_id)
        );
    """
    con.sql(sql)

    sql = """
        INSERT INTO firm_isin (ISIN, firm_id)
        SELECT i.ISIN, f.firm_id
        FROM (
           SELECT DISTINCT ISIN, UPPER(name) AS name
           FROM firm_names_data
        ) AS i
        JOIN firm_names AS f
        ON i.name = f.name;
    """
    con.sql(sql)
    clean_firm_isin_table();

    # -- 4. This table can be used to extract the bdvids of the subsidiaries via ISIN or name
    con.sql("CREATE TABLE IF NOT EXISTS firm_data_complete AS SELECT ISIN, subsidiarybvdid, UPPER(name) AS name FROM firm_names_data")

def create_match_table(reset: bool = False):
    """Creates the patstat_firm_match table in the database. This table is used to store the matches between the patstat data and the firm (id) data.

    Args:
        reset: If True, the table will be dropped if it already exists.

    Returns:
        None
    """
    if reset:
        con.sql("DROP TABLE IF EXISTS patstat_firm_match;")

    sql = """
    CREATE TABLE IF NOT EXISTS patstat_firm_match (
        han_id INTEGER PRIMARY KEY, -- han_id from patstat_data tables
        firm_id INTEGER REFERENCES firm_names(firm_id), -- firm_id from firm_names table
        similarity FLOAT, -- similarity between the patstat name and the firm name
    );
    """
    con.sql(sql)

def create_patstat_database(reset: bool = True):
    """Creates a table in the database with the patstat data.

    Args:
        reset: If True, the table will be dropped if it already exists.

    Returns:
        None
    """
    if reset:
        con.sql(f"DROP TABLE IF EXISTS patstat_data")

    sql = f"""
        CREATE TABLE IF NOT EXISTS patstat_data (
            pat_publn_id INTEGER,
            publn_date DATE,
            han_id INTEGER,
            han_name VARCHAR(255),
            person_name VARCHAR(255),
            psn_name VARCHAR(255),
        );
    """
    con.execute(sql)

def insert_patstat_data(patstat_data: pd.DataFrame):
    """Inserts the patstat data into the database.

    Args:
        patstat_data: The data containing the patstat data.

    Returns:
        None
    """
    con.register('patstat_data_tmp', patstat_data)
    sql = """
        INSERT INTO patstat_data
        SELECT DISTINCT pat_publn_id, publn_date, han_id, han_name, person_name, psn_name FROM patstat_data_tmp;
    """
    con.execute(sql)
    con.execute("DROP VIEW IF EXISTS patstat_data_tmp")

In [65]:
def insert_match(han_id: int, firm_id: int, similarity: float):
    """Inserts a match between a patstat publication id and a firm id into the patstat_firm_match table.

    Args:
        han_id: The patstat firm / patent applicant id.
        firm_id: The firm id.
        similarity: The similarity between the patstat name and the firm name.

    Returns:
        None
    """
    # Convert values to Python types that DuckDB supports natively
    han_id = int(han_id) if han_id is not None else None
    firm_id = int(firm_id) if firm_id is not None else None
    similarity = float(similarity) if similarity is not None else None
    # print(f"Inserting match for pat_publn_id {pat_publn_id}, firm_id {firm_id}, similarity {similarity}, pat_table {pat_table}")
    try:
        sql = f"""
            INSERT INTO patstat_firm_match (han_id, firm_id, similarity)
            VALUES (?, ?, ?);
        """
        con.execute(sql, (han_id, firm_id, similarity))
    except ConstraintException as e:
        error = f"{repr(e)}\nError inserting match for pat_publn_id firm_id {firm_id}, similarity {similarity}"
        write_log(error, "insert_match_error.log")


def get_matching_firm(patstat_name: str) -> pd.DataFrame:
    """Gets the best matching firm for a given patstat name. Jayo-Winkler similarity is used to calculate the similarity between the patstat name and the firm name.

    """
    patstat_name = patstat_name.replace("'", "")
    # We use the Jaro-Winkler similarity since it is a good metric for string similarity. It
    sql = f"""
        SELECT
            firm_id,
            name,
            jaro_winkler_similarity(name, '{patstat_name}') AS similarity
        FROM firm_names
        WHERE similarity > 0.8
        ORDER BY similarity DESC
        LIMIT 1;
    """
    df = con.sql(sql).fetchdf()
    return df

In [73]:
def extract_before_first_comma(s: str) -> str:
    """Extracts the substring before the first comma in a string.

    Args:
        s: The input string.

    Returns:
        The substring before the first comma.
    """
    if s is None:
        return None
    # Split on the first comma only (maxsplit=1)
    parts = s.split(',', 1)
    return parts[0]  # If there's no comma, split() returns [s]

def get_best_match(patstat_entry: pd.Series) -> pd.DataFrame:
    """Calculates the best name match for a patstat entry against our firm_names table.

    Args:
        patstat_entry: A single entry from the patstat data.

    Returns:
        The best match for the patstat entry.
    """

    df = None
    max_similarity = -1

    # We have to use the extract_before_first_comma function to get rid of the location information in the name
    df_han = get_matching_firm(extract_before_first_comma(patstat_entry['han_name']))
    df_psn = get_matching_firm(extract_before_first_comma(patstat_entry['psn_name']))
    df_person = get_matching_firm(extract_before_first_comma(patstat_entry['person_name']))
    # We check if we have a match with a similarity > 0.9 in any of the dataframes. They are sorted by the subjective importance (han_name > psn_name > person_name)
    # If we have a match with a similarity > 0.9, we instantly return it
    if len(df_han) > 0:
        similarity = df_han['similarity'].iloc[0]
        if similarity > 0.9:
            return df_han
        elif similarity > max_similarity:
            max_similarity = similarity
            df = df_han
    if len(df_psn) > 0:
        similarity = df_psn['similarity'].iloc[0]
        if similarity > 0.9:
            return df_psn
        elif similarity > max_similarity:
            max_similarity = similarity
            df = df_psn
    if len(df_person) > 0:
        similarity = df_person['similarity'].iloc[0]
        if similarity > 0.9:
            return df_person
        elif similarity > max_similarity:
            max_similarity = similarity
            df = df_person

    # If we don't have a match with a similarity > 0.9, we return the best match
    return df


def process_patstat_entry(patstat_entry: pd.Series):
    """Processes a single entry from the patstat data and tries to find a matching firm.

    Args:
        patstat_entry: A single entry from the patstat data.

    Returns:
        None
    """
    data = get_best_match(patstat_entry)

    if data is not None:
        data = data.iloc[0]
        insert_match(patstat_entry['han_id'], data['firm_id'], data['similarity'])
    else:
        insert_match(patstat_entry['han_id'], None, None)

In [74]:
def process_patstat_files():
    """Processes the patstat_data and tries to find matching firms for each entry.

    Args:
        None
    Returns:
        None
    """

    sql = """
        SELECT han_id, han_name, person_name, psn_name
        FROM patstat_data
        WHERE han_id IN (SELECT DISTINCT(han_id) FROM patstat_data)

    """
    df = con.execute(sql).fetchdf()
    length = len(df)
    for index, row in df.iterrows():
        if index % 1000 == 0:
            print(f"Processing entry {index}/{length}")
        process_patstat_entry(row)

In [75]:
def load_patstat_data():
    """" Load given patstat data into the database.

    Args:
        None

    Returns:
        None
    """
    base_path = '../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024'
    # Get all files in the directory
    files = os.listdir(base_path)
    for file in files:
        if file.endswith(".csv"):
            path = f'{base_path}/{file}'
            print(f"Processing file {file}. Path: {base_path}")
            patstat_data = pd.read_csv(path, sep=';')
            insert_patstat_data(patstat_data)

In [76]:
if __name__ == "__main__":
    wipe_database()
    create_base_tables(firm_names_data)
    create_patstat_database()
    create_match_table()
    load_patstat_data()
    process_patstat_files()

Processing file patents_A_B.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_C.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_D.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024

C:\Users\ws_tax_hiwi\AppData\Local\Temp\13\ipykernel_123444\4069899815.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  patstat_data = pd.read_csv(path, sep=';')

Processing file patents_F.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024

C:\Users\ws_tax_hiwi\AppData\Local\Temp\13\ipykernel_123444\4069899815.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  patstat_data = pd.read_csv(path, sep=';')

Processing file patents_G.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024

C:\Users\ws_tax_hiwi\AppData\Local\Temp\13\ipykernel_123444\4069899815.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  patstat_data = pd.read_csv(path, sep=';')

Processing file patents_H.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_I.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_J.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_L.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_M.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_N.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_P.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024

C:\Users\ws_tax_hiwi\AppData\Local\Temp\13\ipykernel_123444\4069899815.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  patstat_data = pd.read_csv(path, sep=';')

Processing file patents_R.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024

C:\Users\ws_tax_hiwi\AppData\Local\Temp\13\ipykernel_123444\4069899815.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  patstat_data = pd.read_csv(path, sep=';')

Processing file patents_S.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024

C:\Users\ws_tax_hiwi\AppData\Local\Temp\13\ipykernel_123444\4069899815.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  patstat_data = pd.read_csv(path, sep=';')

Processing file patents_T.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024

C:\Users\ws_tax_hiwi\AppData\Local\Temp\13\ipykernel_123444\4069899815.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  patstat_data = pd.read_csv(path, sep=';')

Processing file patents_U_V.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing file patents_X_Y_Z.csv. Path: ../../files_maris/katharina_patents_name_matching/patent_download_Oct_2024
Processing entry 0/3270425
Processing entry 1000/3270425
Processing entry 2000/3270425
Processing entry 3000/3270425
Processing entry 4000/3270425
Processing entry 5000/3270425
Processing entry 6000/3270425
Processing entry 7000/3270425
Processing entry 8000/3270425
Processing entry 9000/3270425
Processing entry 10000/3270425
Processing entry 11000/3270425
Processing entry 12000/3270425
Processing entry 13000/3270425
Processing entry 14000/3270425
Processing entry 15000/3270425
Processing entry 16000/3270425
Processing entry 17000/3270425
Processing entry 18000/3270425
Processing entry 19000/3270425
Processing entry 20000/3270425
Processing entry 21000/3270425
Processing entry 22000/3270425
Processing entry 23000/3270425
Processing entry 24000/3270425
Processing entry 25000/3270425
Processing entry 26000/3270425
Processing entry 27000/3270425
Processing entry 28000/3270425
Processing entry 29000/3270425
Processing entry 30000/3270425
Processing entry 31000/3270425
Processing entry 32000/3270425
Processing entry 33000/3270425
Processing entry 34000/3270425
Processing entry 35000/3270425
Processing entry 36000/3270425
Processing entry 37000/3270425
Processing entry 38000/3270425
Processing entry 39000/3270425
Processing entry 40000/3270425
Processing entry 41000/3270425
Processing entry 42000/3270425
Processing entry 43000/3270425
Processing entry 44000/3270425
Processing entry 45000/3270425
Processing entry 46000/3270425
Processing entry 47000/3270425
Processing entry 48000/3270425
Processing entry 49000/3270425
Processing entry 50000/3270425
Processing entry 51000/3270425
Processing entry 52000/3270425
Processing entry 53000/3270425
Processing entry 54000/3270425
Processing entry 55000/3270425
Processing entry 56000/3270425
Processing entry 57000/3270425
Processing entry 58000/3270425
Processing entry 59000/3270425
Processing entry 60000/3270425
Processing entry 61000/3270425
Processing entry 62000/3270425
Processing entry 63000/3270425
Processing entry 64000/3270425
Processing entry 65000/3270425
Processing entry 66000/3270425
Processing entry 67000/3270425
Processing entry 68000/3270425
Processing entry 69000/3270425
Processing entry 70000/3270425
Processing entry 71000/3270425
Processing entry 72000/3270425
Processing entry 73000/3270425
Processing entry 74000/3270425
Processing entry 75000/3270425
Processing entry 76000/3270425
Processing entry 77000/3270425
Processing entry 78000/3270425
Processing entry 79000/3270425
Processing entry 80000/3270425
Processing entry 81000/3270425
Processing entry 82000/3270425
Processing entry 83000/3270425
Processing entry 84000/3270425
Processing entry 85000/3270425
Processing entry 86000/3270425
Processing entry 87000/3270425
Processing entry 88000/3270425
Processing entry 89000/3270425
Processing entry 90000/3270425
Processing entry 91000/3270425
Processing entry 92000/3270425
Processing entry 93000/3270425
Processing entry 94000/3270425
Processing entry 95000/3270425
Processing entry 96000/3270425
Processing entry 97000/3270425
Processing entry 98000/3270425
Processing entry 99000/3270425
Processing entry 100000/3270425
Processing entry 101000/3270425
Processing entry 102000/3270425
Processing entry 103000/3270425
Processing entry 104000/3270425
Processing entry 105000/3270425
Processing entry 106000/3270425
Processing entry 107000/3270425
Processing entry 108000/3270425
Processing entry 109000/3270425
Processing entry 110000/3270425
Processing entry 111000/3270425
Processing entry 112000/3270425
Processing entry 113000/3270425
Processing entry 114000/3270425
Processing entry 115000/3270425
Processing entry 116000/3270425
Processing entry 117000/3270425
Processing entry 118000/3270425
Processing entry 119000/3270425
Processing entry 120000/3270425
Processing entry 121000/3270425
Processing entry 122000/3270425
Processing entry 123000/3270425
Processing entry 124000/3270425
Processing entry 125000/3270425
Processing entry 126000/3270425
Processing entry 127000/3270425
Processing entry 128000/3270425
Processing entry 129000/3270425
Processing entry 130000/3270425
Processing entry 131000/3270425
Processing entry 132000/3270425
Processing entry 133000/3270425
Processing entry 134000/3270425
Processing entry 135000/3270425
Processing entry 136000/3270425
Processing entry 137000/3270425
Processing entry 138000/3270425
Processing entry 139000/3270425
Processing entry 140000/3270425
Processing entry 141000/3270425
Processing entry 142000/3270425
Processing entry 143000/3270425
Processing entry 144000/3270425
Processing entry 145000/3270425
Processing entry 146000/3270425
Processing entry 147000/3270425
Processing entry 148000/3270425
Processing entry 149000/3270425
Processing entry 150000/3270425
Processing entry 151000/3270425
Processing entry 152000/3270425
Processing entry 153000/3270425
Processing entry 154000/3270425
Processing entry 155000/3270425
Processing entry 156000/3270425
Processing entry 157000/3270425
Processing entry 158000/3270425
Processing entry 159000/3270425
Processing entry 160000/3270425
Processing entry 161000/3270425
Processing entry 162000/3270425
Processing entry 163000/3270425
Processing entry 164000/3270425
Processing entry 165000/3270425
Processing entry 166000/3270425
Processing entry 167000/3270425
Processing entry 168000/3270425
Processing entry 169000/3270425
Processing entry 170000/3270425
Processing entry 171000/3270425
Processing entry 172000/3270425
Processing entry 173000/3270425
Processing entry 174000/3270425
Processing entry 175000/3270425
Processing entry 176000/3270425
Processing entry 177000/3270425
Processing entry 178000/3270425
Processing entry 179000/3270425
Processing entry 180000/3270425
Processing entry 181000/3270425
Processing entry 182000/3270425
Processing entry 183000/3270425
Processing entry 184000/3270425
Processing entry 185000/3270425
Processing entry 186000/3270425
Processing entry 187000/3270425
Processing entry 188000/3270425
Processing entry 189000/3270425
Processing entry 190000/3270425
Processing entry 191000/3270425
Processing entry 192000/3270425
Processing entry 193000/3270425
Processing entry 194000/3270425
Processing entry 195000/3270425
Processing entry 196000/3270425
Processing entry 197000/3270425
Processing entry 198000/3270425
Processing entry 199000/3270425
Processing entry 200000/3270425
Processing entry 201000/3270425
Processing entry 202000/3270425
Processing entry 203000/3270425
Processing entry 204000/3270425
Processing entry 205000/3270425
Processing entry 206000/3270425
Processing entry 207000/3270425
Processing entry 208000/3270425
Processing entry 209000/3270425

PermissionError: [Errno 13] Permission denied: '../logs/insert_match_error.log'

In [106]:
con.sql("SELECT * FROM patstat_data").fetchdf()

,pat_publn_id,publn_date,han_id,han_name,person_name,psn_name
0,596577605,2023-07-25,222444,BAYER AG,Bayer Aktiengesellschaft,BAYER
1,596577605,2023-07-25,222528,BAYER PHARMA AG,Bayer Pharma Aktiengesellschaft,BAYER PHARMA
2,596577613,2023-07-12,4393542,RIBON THERAPEUTICS INC,RIBON THERAPEUTICS INC.,RIBON THERAPEUTICS
3,596577617,2023-07-12,1104722,GILEAD SCIENCES INC,"Gilead Sciences, Inc.",GILEAD SCIENCES
4,596577658,2023-07-04,1133603,THE GOVERNING COUNCIL OF THE UNIVERSITY OF TOR...,The Governing Council of the University of Tor...,UNIVERSITY OF TORONTO
...,...,...,...,...,...,...
113719,596577437,2023-07-17,192148825,VASCO MIGUEL MOURA NOGUEIRA,VASCO MIGUEL MOURA NOGUEIRA,VASCO MIGUEL MOURA NOGUEIRA
113720,596577451,2023-07-14,13378,TELEFON AB LM ERICSSON PUBL,Telefonaktiebolaget LM Ericsson (publ),TELEFONAKTIEBOLAGET LM ERICSSON (PUBL)
113721,596577469,2023-07-18,4327402,A NEURON ELECT CORP,A-NEURON ELECTRONIC CORP.,A-NEURON ELECTRONIC CORPORATION
113722,596577499,2023-07-25,192205595,ASTUTEDINOSAUR - UNIPESSOAL LDA,ASTUTEDINOSAUR - UNIPESSOAL LDA,ASTUTEDINOSAUR - UNIPESSOAL LDA
113723,596577543,2023-07-28,1961900,MEDIVIS SRL,MEDIVIS S.R.L.,MEDIVIS

In [71]:
sql = """
    SELECT DISTINCT(han_id), firm_id, similarity, name, han_name, person_name, psn_name FROM patstat_firm_match
    JOIN firm_names USING(firm_id)
    JOIN patstat_data USING(han_id)
    WHERE similarity > 0.9
    """
con.execute(sql).fetchdf()

,han_id,firm_id,similarity,name,han_name,person_name,psn_name
0,501175,2323,0.910000,CANNASOUTH LTD,CANATU LTD,CANATU OY,CANATU
1,1699,8003,0.980220,L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...,L AIR LIQUIDE SA POUR L ETUDE & L EXPLOITATION...,"L´AIR LIQUIDE, SOCIETE ANONYME POUR L’ETUDE ET...",L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...
2,125125158,11016,0.911282,POLAR POWER INC,POLAR WARE CO,POLAR WARE CO,POLAR WARE COMPANY
3,112845991,13195,0.940000,STEPHAN CO,"STEPHAN, FROELICH & KLUEPFEL","STEPHAN, FROELICH & KLUEPFEL","STEPHAN, FROELICH & KLUEPFEL"
4,907280,4753,0.959333,FARON PHARMACEUTICALS OY,FARON PHARMACEUTICALS LTD,Faron Pharmaceuticals OY,FARON PHARMACEUTICALS
...,...,...,...,...,...,...,...
335,514247,12321,1.000000,SEB SA,SEB SA,GSE,GSE
336,1699,8003,0.980220,L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...,L AIR LIQUIDE SA POUR L ETUDE & L EXPLOITATION...,L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...,L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...
337,1699,8003,0.980220,L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...,L AIR LIQUIDE SA POUR L ETUDE & L EXPLOITATION...,"L`AIR LIQUIDE, SOCIETE ANONYME POUR L'ETUDE ET...",L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...
338,1222770,6142,0.955418,HENKEL AG & CO KGAA,HENKEL AG&CO KGAA,"Henkel AG & Co., KGaA",HENKEL
339,1699,8003,0.980220,L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...,L AIR LIQUIDE SA POUR L ETUDE & L EXPLOITATION...,"L'AIR LIQUIDE SOCIETE, ANONYME POUR L'ETUDE ET...",L'AIR LIQUIDE SOCIETE ANONYME POUR L'ETUDE ET ...

In [ ]:
sql = """
    SELECT * FROM patstat_firm_match
    JOIN firm_names USING(firm_id)
    JOIN patstat_patents_P USING(pat_publn_id, han_id)
    WHERE similarity > 0.9
    AND name LIKE '%PFIZER%'
    """

con.execute(sql).fetchdf()

In [69]:
con.execute("SELECT * FROM patstat_data_tmp").fetchdf()

InvalidInputException: Invalid Input Error: Failed to cast value: Unimplemented type for cast (VARCHAR -> NULL)

In [ ]:
firm_names_data

In [45]:
buggy_data.loc[1]

Unnamed: 0                                    102
pat_publn_id                            540273784
firm_id                                     10836
similarity                                    1.0
pat_table                               patents_P
name                                   PFIZER INC
han_name               BOSTON MEDICAL CENTER CORP
person_name     BOSTON MEDICAL CENTER CORPORATION
psn_name        BOSTON MEDICAL CENTER CORPORATION
Name: 1, dtype: object

In [44]:
get_best_match(buggy_data.loc[1])

   firm_id                          name  similarity
0     2008       BOSTON BEER COMPANY INC    0.877759
1     2010        BOSTON SCIENTIFIC CORP    0.857653
2     2009         BOSTON PROPERTIES INC    0.825458
3     2022     BOWLIN TRAVEL CENTERS INC    0.808065
4    15154  WHEATON PRECIOUS METALS CORP    0.801532

In [78]:
con.sql('ROLLBACK;')
con.sql('show tables')

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ 0 rows  │
└─────────┘

In [97]:
con.sql('select * from patstat_patents_P').fetchdf()

,pat_publn_id,han_name,person_name,psn_name,han_id
0,306252117,RIFAT GJOTA,RIFAT GJOTA,RIFAT GJOTA,114348731
1,306479717,SERVOTROL SISTEMAS DE COMANDO AUTOMATICO LDA,SERVOTROL SISTEMAS DE COMANDO AUTOMATICO LDA,SERVOTROL - SISTEMAS DE COMANDO AUTOMATICO,134122706
2,306479722,GYORGY BARA,GYORGY BARA,GYORGY BARA,134122710
3,306479722,JOZSEF TALPAG,JOZSEF TALPAG,JOZSEF TALPAG,134122712
4,306479722,PAL GAVAJDA,PAL GAVAJDA,PAL GAVAJDA,134122711
...,...,...,...,...,...
113724,606189813,KITE PHARMA INC,"KITE PHARMA, INC.",KITE PHARMA,1968026
113725,606189855,LUKOMSKI TOMASZ,ŁUKOMSKI TOMASZ,ŁUKOMSKI TOMASZ,4557906
113726,606189859,ALFA LAVAL CORPORATE AB,ALFA LAVAL CORPORATE AB,ALFA LAVAL,92321
113727,606189861,ISTA SE,ISTA SE,ISTA SE,191743558
113728,606189863,HEMOLENS DIAGNOSTICS SPÓŁKA Z OGRANICZONĄ ODPO...,HEMOLENS DIAGNOSTICS SPÓŁKA Z OGRANICZONĄ ODPO...,HEMOLENS DIAGNOSTICS SPÓŁKA Z OGRANICZONĄ ODPO...,191775525